/* CONTACT LIGHTBOX */
.container .center .bottom .footer .act{
    transition: .2s;
    animation: contact 7s ease-in-out 30s infinite forwards;
}
@keyframes contact {
    /* 0%, 84%{
        transform: scale(1);
    }
    85%{
        transform: scale(0.95);
    }
    90%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    } */
    0% ,93%{
        transform: rotate(0deg);
    }
    94.5%{
        transform: rotate(2deg);
    }
    96%{
        transform: rotate(-2deg);
    }
    97.5%{
        transform: rotate(2deg);
    }
    99%{
        transform: rotate(-2deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.box{
    display: table;
    position: fixed;
    top: -160%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 300ms;
    z-index: 1;
}
.box:target {
    top: -10px;
    left: -5px;
}
.lightcont{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.294);
}
.lightcont ul{
    position: relative;
    left: calc(50% - 30%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 60%;
    background-color: rgb(216, 201, 251);
    border-radius: 20px;
    border: 3px solid white;
    list-style: none;
    gap: 20px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
                5px 5px 10px rgba(0, 0, 0, 0.5), 
                inset -5px -5px 10px rgba(255, 255, 255, 0.7), 
                inset 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.lightcont ul li a .icon{
    height: 10vw;
    width: 10vw;
    background-color: rgba(12, 25, 113, 0.338);
    border-radius: 10px;
    border: 3px solid rgb(211, 213, 246);
    box-shadow: -4px -5px 10px white, 3px 3px 10px rgba(0, 0, 0, 0.702);
    text-align: center;
}
.lightcont ul li a .icon img{
    width: 80px;
    text-align: center;
    margin: auto;
    height: auto;
}
.lightcont ul li:not(:nth-child(1)) a .icon img{
    padding-top: 10px;
    width: 70px;
    /* height: 70px; */
}
.lightcont ul li a .icon p{
    font-size: 7px;
    font-weight: normal;

}
a[href="#"]{
    position: absolute;
    top: 20px;
    right: 20px;
    /* display: grid;
    place-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    height: 40px;
    width: 100px;
    /* outline: 3px solid red; */
    border: 3px solid rgba(250, 250, 251, 0.914);
    border-radius: 10px;
    background-color: rgb(178, 165, 165);
    font-size: 21px;
    text-shadow: 1px 1px 0 white, -1px -1px 0 white;
    font-weight: bolder;
    color: red;
    box-shadow: inset 2px 2px 8px  white, inset -2px -2px 6px black;
}  
/* RIGHT CONTENT DESIGNING */

/* CONTENT 1 */
/* .content1::before{
    content: '';
    position:absolute;
    top: 67px;
    height: 500px;
    width: 10px;
    background-color: black;
    z-index:1;
} */
.cont h3{
    background-color: grey;
    color: white;
    border-radius: 0 20px  20px 0;
    z-index: 10;
}
.cont h3::before{
    position: relative;
    /* top: 0px; */
    left: 0;
    content: '';
    height: 30px;
    width: 150px;
    background-color: grey;
}
/* .content1 hr{
    position: absolute;
    top: 62px;
    left: 6.5%;
    width: 15px;
    height: 500px;
    border: 2px solid grey ;
    background-color: rgba(125, 100, 100, 0);
    z-index: 1;
} */
.content1 ul li:nth-child(1) ul li{
    display: flex;
    justify-content: space-between;
}
#container{
    width: 400px;
    box-sizing: border-box;
    height: 25px;
    padding: 3.5px;
    margin: 2px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: rgba(130, 88, 152, 0.225);
    resize: horizontal;
}
#cont{
    height: 14px;
    width: 0%;
    box-sizing: border-box; 
    border-radius: 20px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.972),rgba(151, 115, 171, 0.732));
    animation: anime 1s ease-in-out 1 forwards;    
}
@keyframes anime {
    100%{
        width: 80%;
    }
}

#cont::after{
    background-color: rgb(117, 25, 127);
    height: 100%;
    width: fit-content;
    border-radius: 50%;
    right: 0;
    float: right;
    content: "/";
    display: grid;
    place-content: center;
    color: white;
    animation: anime2 90ms ease-in-out 1 forwards;
}
@keyframes anime2 {
    10%{
        transform: rotate(-20deg);
    }
    50%{
        transform: rotate(20deg);
    }
    100%{
        opacity: 0;
        display: none;
    }
}

#cont::before{
    position: relative;
    top: -1.25px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: rgb(117, 25, 127);
    right: 0;
    float: right;
    content: "70%";
    font-size: 10px;
    display: grid;
    place-content: center;
    color: white;
    opacity: 0;
    animation: anime1 .2s ease-in-out 1.4s 1 forwards;
}
@keyframes anime1 {
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.content1 ul li:nth-child(1) ul li:nth-child(1) #cont{
    animation: animeA 1s  ease-in-out 1 forwards;
    background-image: linear-gradient(to right, white,orange);

}
@keyframes animeA {
    100%{
        width: 95%;
    }
}
.content1 ul li:nth-child(1) ul li:nth-child(1) #cont::before{
    content: '95%';
}

.content1 ul li:nth-child(1) ul li:nth-child(2) #cont{
    animation: animeB 1s  ease-in-out 100ms 1 forwards;
    background-image: linear-gradient(to right, white,blue);
}
@keyframes animeB {
    100%{
        width: 90%;
    }
}
.content1 ul li:nth-child(1) ul li:nth-child(2) #cont::before{
    content: '90%';
}

.content1 ul li:nth-child(1) ul li:nth-child(3) #cont{
    animation: animeC 1s  ease-in-out 200ms 1 forwards;
    background-image: linear-gradient(to right, white, aqua);
}
@keyframes animeC {
    100%{
        width: 65%;
    }
}
.content1 ul li:nth-child(1) ul li:nth-child(3) #cont::before{
    content: '65%';
}

.content1 ul li:nth-child(1) ul li:nth-child(4) #cont{
    animation: animeD 1s  ease-in-out 00ms 1 forwards;
    background-image: linear-gradient(to right, white,yellow);
}
@keyframes animeD {
    100%{
        width: 85%;
    }
}
.content1 ul li:nth-child(1) ul li:nth-child(4) #cont::before{
    content: '85%';
}

.content1 ul li:nth-child(1) ul li:nth-child(5) #cont{
    animation: animeE 1s  ease-in-out 0ms 1 forwards;
    background-image: linear-gradient(to right, white,rgba(0, 255, 255, 0.769));

}
@keyframes animeE {
    100%{
        width:55%;
    }
}
.content1 ul li:nth-child(1) ul li:nth-child(5) #cont::before{
    content: '55%';
}


/* CONTENT--3 */
.content3 img{
    width: 100%;
    height: auto;
    filter: drop-shadow(0 0 20px white);
}


/* CONTENT--4 */
.content4{
    background-color: rgb(236, 215, 244);
}
.content4 .note{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: fit-content;
    height: 60px;
    padding: 5px 10px;
    margin: auto;
    border-radius: 15px;
    border: 1.5px solid rgba(160, 151, 241, 0.767) ;
    background-color: rgba(224, 172, 229, 0.452);
    color: rgb(255, 255, 255);
    box-shadow: inset 2px 2px 10px white, inset -2px -2px 10px black;
}
.content4 .note .h3{
    min-width: 30px;
    height: 30px;
    margin: auto;
    font-weight: bold;
    padding: 0px;
    border-radius: 50%;
    font-size: 1;
    border: 2px solid;
    /* background-color: aqua; */
    box-shadow: inset -1px -1px 6px white,inset 1px 1px 5px black;
    text-align: center;
}
.content4 .note p{
    /* font-size: 15px; */
    line-height:20px;
    text-align: justify;
    margin: auto;
}

/* CONTENT--5 */
.container .right .content5{
    padding: 5vw;
    background-image: linear-gradient( to right, rgb(136, 173, 246), rgb(0, 0, 0, 0.1));
}
.content5 p:nth-of-type(1) {
    color: black;
    font-style: italic;
    text-align: center;
    /* border: 2px solid; */
    width: 90%;
    padding: 3vw;
    border-radius: 10px;
    margin: 4vh auto;
    box-shadow: inset -2px -2px 15px white, inset 5px 5px 10px rgba(0, 0, 0, 0.429);
}
.content5 h3{
    font-weight: bolder;
    /* color: rgb(126, 126, 228); */
    text-align: center;
    margin: auto 5px;
    background-color: transparent;
}
.conta{
    padding: 10px 0 ;
    border-radius: 10px;
    box-shadow: inset -2px -2px 10px white, inset 5px 5px 8px rgba(0, 0, 0, 0.429);
}
.links{
    display: flex;
    justify-content: space-evenly;
    gap: 3px;
    /* width: fit-content; */
    text-align: center;
    /* border: 2px solid rgba(180, 255, 159, 0.621); */
    padding: 15px;
}
.link {
    /* border: 2px solid white; */
    padding: 10px;
    border-radius: 10px;
    box-shadow: -2px -2px 10px white, 3px 3px 10px rgba(0, 0, 0, 0.315);
    /* text-align: center; */
    margin: 0 4px;
}
.link ion-icon{
    margin: auto;
    position: relative;
    font-size: 3vw;
    left: calc(50% - 1.5vw);
    text-align: center;
    filter: drop-shadow(0 0 1px);
}
.link span{
    text-align: center;
    /* color: blue; */
    font-size: 2vw;
}
@media screen and (max-width:480px) {
    .box{
        display: block;
        width: 100%;
        height: 250vh;
    }
    .lightcont{
        display: flex;
        /* align-items: center; */
        height: 250vh;
        padding: 20px;
    }
    .lightcont ul{
        margin: 0;
        padding: 0;
        margin-top: 75%;
        display: flex;
        padding: 0;
        height: 35vw;
        width: 100%;
        left: -4px;
    }
    .lightcont ul li a .icon{
        height: 20vw;
        width: 20vw;
    }
    .lightcont ul li a .icon img{
        width: 40px;
        
    }

    .container .center .bottom .footer .lightcont ul li a .icon p{
        margin: 0;
        padding: 0;
        font-size: 3.5vw;
    }
    .lightcont ul li:not(:nth-child(1)) a .icon img{
        padding-top: 5px;
        width: 40px;
        /* height: 70px; */
    }
    a[href="#"]{
        top: 60px;
    }
}








/* .content1 ul li:nth-child(1) ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    text-align: center;
    margin: 0;
}
.content1 ul li:nth-child(1) ul li{
    min-width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
    border: 10px solid;
    display: grid;
    place-content: center;
    border-radius: 50%;
}
.content1 ul li:nth-child(1) ul li::before{
    position:relative;
    top: -30px;
    left: 25%;
    content: '';
    height: 10px;
    width: 10px;
    background-color: rgb(248, 246, 246);
    z-index: 10;
}
.content1 ul li:nth-child(1) ul li::after{
    position:relative;
    top: -30px;
    left: 25%;
    content: '';
    display: grid;
    place-content: center;
    height: 20px;
    width: 20px;
    color: white;
    font-size: 11px;
    text-align: center;
    border-radius: 50%;
    background-color: black;
    box-shadow: 0 0 10px red;
    z-index: 10;
}
.content1 ul li:nth-child(1) ul li:nth-child(1)::before{
    width: 35px;
    height: 20px;
    top: -20px;
    left: -15%;
}
.content1 ul li:nth-child(1) ul li:nth-child(1)::after{
    content:'90%';
    background-color: rgb(211, 15, 172);
    top: -65px;
    left: -10px;
}
.content1 ul li:nth-child(1) ul li:nth-child(2)::before{
    width: 35px;
    height: 20px;
    top: -20px;
    left: -45%;
}
.content1 ul li:nth-child(1) ul li:nth-child(2)::after{
    content:'90%';
    top: -63px;
    left: -20px;
    background-color: red;
}
.content1 ul li:nth-child(1) ul li:nth-child(3)  {
    position: relative;
    display: grid;
    place-content: center;
    color: blue;
    font-size: 19px;
    padding: 0;
}
.content1 ul li:nth-child(1) ul li:nth-child(3) .shad{
    position: absolute;
    top: -12px;
    width: 45px;
    height: 15px;
    background-color: rgb(248, 246, 246);
}
.content1 ul li:nth-child(1) ul li:nth-child(3)::before{
    position: absolute;
    width: 80px;
    height: 80px;
    top: -0px;
    left: 01px;
    border-radius: 50% 0 0 50%;
    box-shadow: -20px 0 0 rgb(248, 246, 246);
    background-color: transparent;
}

.content1 ul li:nth-child(1) ul li:nth-child(3)::after{
    position: relative;
    content:'55%';
    top: 30px;
    left: 17px;
    background-color: rgb(0, 255, 255);
    box-shadow: -17px 0 0 rgb(248, 246, 246), 0 0 4px rgb(0, 157, 255);
}
.content1 ul li:nth-child(1) ul li:nth-child(5)::before{
    width: 35px;
    height: 20px;
    top: -16px;
    left: 4px;
    background-color: blue;
}
.content1 ul li:nth-child(1) ul li:nth-child(5)::after{
    content:'90%';
    top: -63px;
    left: -20px;
    background-color: red;
} */
