*{
    box-sizing: border-box;
    text-align: justify;
}
body{
    position: relative;
    display: grid;
    place-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #A49BF8;
    overflow: hidden;
}
:root{
    --clr: rgb(119, 166, 255);
}
a{ 
    text-decoration: none;
    color: black;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #8ae8f0;
    border-radius: 10px;
}
/* HIDING RADIO AND CHECKBOX INPUTS */
input[type="radio"]{
    display: none;
}
#btn{
    display: none;
}

/* NOW DIFINING BODY PARTS AND THIER WIDTH & HEIGHT  */

.container{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: 100vw;
    height: 100vh;
    padding: 15px;
    visibility: hidden;
    animation: contain .1s ease-in-out 1.9s 1 forwards;
}
@keyframes contain {
    100%{
       visibility: visible;
    }
}
.container .left{
    width: 80px;
    height: 80vh;
    padding: 20px 0;
    margin-right: 10px;
}
.container .left .lefttop{
    width: 100%;
    height: 70px;
    padding: 10px;
    background-color: #B8B9FA;
    border-radius: 10px;
    margin-bottom: 10px;  
    border: 2px solid rgba(255, 255, 0, 0.908);
}
.container .left .lefttop:hover{
    border: 2px solid rgba(205, 254, 60, 0.463);
    background-color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1),
                0 0 20px rgba(255, 255, 255, 1),
                0 0 30px rgba(255, 255, 255, 1);   
}
.container .left .lefttop .topc{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 3px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.466), 5px 5px 10px rgba(0, 0, 0, 0.18);
}

/* DESIGNING LEFT TOP CONTENT */
.container .left .lefttop .topcont{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding: 3px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.531), 5px 5px 10px rgba(0, 0, 0, 0.211);
    overflow: hidden;
}
.container .left .lefttop .bar{
    width: 80%;
    height: 5px;
    background-color: black;
    border-radius: 5px;
    margin: 5px;
    transition: .2s ease-in-out;
}
.container .left .lefttop .top{
    width: 70%;
}
.container .left .lefttop .bottom{
    width: 60%;
}

.container .left .lefttop .pop{
    display: none;
    position: absolute;
    top: 150px;
    left: calc(50% - 200px);
    width: 400px;
    height: 350px;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    background-color: #eae8ff;
    border: 4px solid #A49BF8;
    font-family: sans-serif;
    font-size: 20px;
    transition: .2s ease-in-out;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    z-index: 9999;
}
.container .left .lefttop .pop p{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 23px;
    color:rgb(104, 94, 106) ;
    /* font-weight: bold; */
    text-align: center;
}
.container .left .lefttop .pop label .close{
    position: relative;
    bottom: -53%;
    display: grid;
    place-content: center;
    width: 110px;
    height: 40px;
    margin: auto;
    color: white;
    font-weight: bold;
    background-color: #A49BF8;
    border-radius: 10px 10px 0 0;
}
.container .left .lefttop .pop label .close::before{
    position: relative;
    top: 29px;
    content: '';
    left: -47px;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 0 0 50% 0;
    box-shadow: 0 8px 0px 0px #A49BF8;
}
.container .left .lefttop .pop label .close::after{
    position: relative;
    top: -14px;
    content: '';
    right: -82px;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 0 0 0 50%;
    box-shadow: 0 8px 0px 0px #A49BF8;
}

.mark{
    position: absolute;
    top: 3%;
    left: calc(50% - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 0, 0, 0.124);
    background-color: white;
    border-radius: 50%;
    /* box-shadow: inset 0 0 10px black; */
    font:  50px wtahoma;
    text-align: center;
    z-index: 1;
}

#btn:checked ~ .container .left .lefttop .pop{
    display: block;
}

#btn:checked ~ .container .left .lefttop label .topcont .top{
    position: relative;
    top: 10px;
    width: 28px;
    transform: rotate(-45deg);
}
#btn:checked ~ .container .left .lefttop label .topcont .middle{
    transform: translateX(20px);
    opacity: 0;
}
#btn:checked ~ .container .left .lefttop label .topcont .bottom{
    position: relative;
    top: -9.5px;
    width: 28px;
    transform: rotate(45deg);
}


.container .left .leftbottom{
    width: 100%;
    background-color: #B3C9FB;
    border-radius: 10px;
    border: 2px solid rgb(255, 212, 131);
}

.container .left .leftbottom:hover{
    background-color: rgba(242, 232, 250, 0.976);  
    color: black;
}
.container .left .leftbottom ul{
    width: 100%;
    height: 100%; 
    list-style: none;
    padding: 10px; 
}
.container .left .leftbottom ul li{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 16px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.466), 5px 5px 10px rgba(0, 0, 0, 0.18);
    border-radius: 5px;
    margin: 10px 0;
    transition: .2s ease-in-out;
    color: gray;
}
.container .left .leftbottom ul li ion-icon{
    position: absolute;
    top: 10px;
    left: 25%;
    font-size: 25px;
    margin:  0 auto;
    transition: .2s ease-in-out;
    opacity: 0;
    animation: icons .1s ease-in-out 1.9s 1 forwards;
}
@keyframes icons {
    100%{
        opacity: 1;
    }
}
.container .left .leftbottom ul li label{
    order: 2;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: calc(100% - 18px);
    font-size: 15px;
    transition: .2s ease-in-out;
}
.container .left .leftbottom ul li:hover label span{
    font-size: 15px;
    padding-top: 100%;
    opacity: 0;
}
.container .left .leftbottom ul li:hover ion-icon{
    top: 27%;
    left: 22%;
    font-size: 30px;
    color: white;
}
.container .left .leftbottom ul li:hover{
    padding:40% 0;
    font-size: 15px;
    color: gray;
    background-color: rgb(90, 189, 202);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 1),
                -5px -5px 10px rgba(255, 255, 255, 0.829),
                0 0 20px rgba(255, 255, 255, 1);
}

/* CENTER FORMATING */
.container .center{
    width: 600px;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.563);
    border-radius: 5px;
    border: 2px solid rgba(248, 232, 232, 0.052);
}
.container .center .top{
    width: 100%;
    height: 55%;
    border-radius: 5px 5px 0 0;
    background-image: url(me.jpg);
    background-size: cover;
}
.container .center .top::after{
    content: '';
    width: 0px;
    height: 0px;
    position: relative;
    top: calc(100% - 5px);
    border-top: 50px solid transparent ;
    border-left: 210px solid var(--clr);
    border-right: 355px solid var(--clr);
}
.container .center .bottom{
    width: 100%;
    height: 45%;
    background-color: rgba(119, 166, 255);
    border-radius: 0 0 5px 5px;
    text-align: center;
}

/* CENTER BOTTOM BODY CONTENT */

.container .center .bottom span{
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container .center .bottom p{
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
}
.container .center .bottom .socialcont{
    display: flex;
    justify-content: center;
}
.container .center .bottom .social{
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
    transition: 100ms ease-in-out;
}
.container .center .bottom .socialcont .social a ion-icon{
    width: 50px;
}

/* SOCIAL MEDIA ICON ANIMATION */
.container .center .bottom .social:hover{
    transform: translateY(-5px);
}

/* DISIGNING CENTER BOTTOM FOOTER CONTENT */
.container .center .bottom .footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 20px 0 0 0;
}
.container .center .bottom .footer .cont{
    width: 180px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(76, 76, 198, 0.264);
    border: 2px solid rgb(118, 186, 186);
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.2), 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.container .center .bottom .footer .cv{
    background-color: transparent;
    border: 2px solid rgb(118, 186, 186);
}
.container .center .bottom .footer .act{
    background-image: linear-gradient(to right, rgba(0, 255, 89, 0.4), rgba(0, 255, 255, 0.6));
}
.container .center .bottom .footer .act:hover{
    background-image: linear-gradient(to right, rgba(0, 0, 255, 0), rgba(255, 0, 255, 0));
}
.container .center .bottom .footer .cont p{
    margin: 0;
    padding: 7px;
    font-weight: bold;
}
/* BOTTOM AMIMATION WHEN HOVERED */
.container .center .bottom .footer .cont p:hover{
    color: fuchsia;
    border: 2px solid fuchsia;
    border-radius: 10px;
}
.container .center .bottom .footer .cont:hover{
    color: fuchsia;
    border: 2px solid rgb(116, 239, 239);
    background-color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1),
                0 0 20px rgba(255, 255, 255, 1),
                0 0 30px rgba(255, 255, 255, 1);
}
.container .center .bottom .social a{
    width: 100%;
    height: 100%;
}
.container .center .bottom .social a ion-icon{
    width: 10vw;
    height: 100%;
}
.container .center .bottom .social a ion-icon:hover{
    color: white;
}

/* RIGHT CONTENTS */
.container .right{
    width: 60%;
    height: 85vh;
    background-color: #DBD5FB;
    margin: 13px 0;
    margin-right: 10px;
    position: relative;
    overflow-y: scroll;
} 
.container .right::-webkit-scrollbar-thumb{
    background-color: rgba(99, 16, 81, 0.552);
}
/* CONTAINER DESIGNING */
.right .cont{
    display: none;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 2vw;
    line-height: 30px;
    font-size: 20px;
    color: rgb(94, 89, 89);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    animation: animate .5s ease-in-out 1 forwards;
}


/* ADD A LITLLE ANIMATION */
@keyframes animate{
    0%
    {
        width: 0;
    }
    100%{
        width: 100%;
    }
}
#about:checked ~.container .right .content1{
    background-color: rgb(248, 246, 246);
    display: block;
    float: right;
}
#resume:checked ~.container .right .content2{
    display: block;
    background-color: rgba(202, 183, 254, 0.34);
}
#works:checked ~.container .right .content3{
    display: block;
    float: right;
    background-color: rgb(218, 228, 252);
}
#blog:checked ~.container .right .content4{
    display: block;
}
#contact:checked ~.container .right .content5{
    display: block;
    float: right;
}


#about:checked ~ .container .left .leftbottom li:nth-child(1){
    background-color: rgba(66, 166, 188, 0.667);
    color: white;
    box-shadow: none;
}
#resume:checked ~ .container .left .leftbottom li:nth-child(2){
    background-color: rgba(66, 166, 188, 0.667);
    color: white;
    box-shadow: none;
}
#works:checked ~ .container .left .leftbottom li:nth-child(3){
    background-color: rgba(66, 166, 188, 0.667);
    color: white;
    box-shadow: none;
}
#blog:checked ~ .container .left .leftbottom li:nth-child(4){
    background-color: rgba(66, 166, 188, 0.667);
    color: white;
    box-shadow: none;
}
#contact:checked ~ .container .left .leftbottom li:nth-child(5){
    background-color: rgba(66, 166, 188, 0.667);
    color: white;
    box-shadow: none;
}


#about:checked ~ .container .left .leftbottom li:nth-child(1) label span{
    font-size: 10px;
    padding-top: 100%;
    opacity: 0;
}
#resume:checked ~ .container .left .leftbottom li:nth-child(2) label span{
    font-size: 15px;
    padding-top: 100%;
    opacity: 0;
}
#works:checked ~ .container .left .leftbottom li:nth-child(3) label span{
    font-size: 10px;
    padding-top: 100%;
    opacity: 0;
}
#blog:checked ~ .container .left .leftbottom li:nth-child(4) label span{
    font-size: 10px;
    padding-top: 100%;
    opacity: 0;
}
#contact:checked ~ .container .left .leftbottom li:nth-child(5) label span{
    font-size: 10px;
    padding-top: 100%;
    opacity: 0; 
}


#about:checked ~ .container .left .leftbottom li:nth-child(1) ion-icon{
    top: 27%;
    left: 22%;
    font-size: 30px;
}
#resume:checked ~ .container .left .leftbottom li:nth-child(2) ion-icon{
    top: 27%;
    left: 22%;
    font-size: 30px;
} 
#works:checked ~ .container .left .leftbottom li:nth-child(3) ion-icon{
    top: 27%;
    left: 22%;
    font-size: 30px;
} 
#blog:checked ~ .container .left .leftbottom li:nth-child(4) ion-icon{
    top: 27%;
    left: 22%;
    font-size: 30px;
} 
#contact:checked ~ .container .left .leftbottom li:nth-child(5) ion-icon{
    top: 27%;
    left: 22%;
    font-size: 30px;
}  

.container .left .leftbottom label li{
    transition: .3s ease-in-out;
}


@media screen and (max-width:1024px){
    body{
        position: absolute;
        max-width: 1024px;
        height: 200%;
        margin: auto;
        padding: 0;
        overflow: scroll;
    }
    .container{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: auto;
        overflow: scroll;
    }
    div.container::-webkit-scrollbar{
        width: 0px;
        display: none;
    }
    .container .left{
        position: relative;
        top: 0;
        display: flex;
        width: 100%;
        height: 90px;
        margin: 10px 0;
        z-index: 1;
    }
    .container .left .lefttop{
        width: 90px;
        height: 90px;
    }
    .container .left .lefttop .topcont{
        width: 100%;
        height: 100%;
        padding: 10px;
    } 
    .container .left .lefttop .pop{
        top: 400px;
        z-index: 1000;
    }
    .left .leftbottom{
        position: relative;
        padding: 8px;
        width: 0;
        height: 90px;
        margin-left: 5px;
    }
    .container .left .leftbottom::after{
        position: relative;
        top: 25%;
        left: 20px;
        content: " ";
        height: 0;
        width: 0;
        border-top: 10px solid rgb(255, 212, 131);
        border-left: 8vw solid transparent;
        border-right: 8vw solid transparent;
    }

    #about:checked ~ .container .left .leftbottom::after{
        left: 1vw;
    }
    #resume:checked ~ .container .left .leftbottom::after{
        left: calc(100% - 68.5vw);
    }
    #works:checked ~ .container .left .leftbottom::after{
        left: calc(100% - 51vw);
    }
    #blog:checked ~ .container .left .leftbottom::after{
        left: calc(100% - 34vw);
    }
    #contact:checked ~ .container .left .leftbottom::after{
        left: calc(100% - 17vw);
    }

    .container .left .leftbottom:hover::after{
        transition: 400ms ease-in-out;
    }
    .container .left .leftbottom ul{
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        justify-content: center;
    }
   
    .container .left .leftbottom ul li{
        width: 100%;
        height: 100%;
        padding: 15px 0;
        margin: 0 3px;
        overflow: hidden; 
    } 
   
    .container .left .leftbottom ul li:hover{
        font-size: 16px;
        padding: 16px 0;
        background-color: #A49BF8;
    }
   
    .container .left .leftbottom ul li ion-icon{
        left: 20px;
        top: 15px;
        font-size: 4vw;
    }
    .container .left .leftbottom ul li:hover ion-icon{
        top: 10px;
        left: 5.5vw;
        font-size: 5vw;
    }
    .container .left .leftbottom ul li label{
        top: -10px;
        width: 100%;
        height: 150%;
        padding: 0;
        text-align: right;
        padding-right:5px ;
    }
    .container .left .leftbottom ul li label span{
        font-size: 3vw;
        float: right;
    }
    .container .left .leftbottom ul li:hover label{
        padding-top: 60px;
    } 
    
    
    #about:checked ~ .container .left .leftbottom ul li:nth-child(1) ion-icon{
        top: 10px;
        left: 5.5vw;
        font-size: 5vw;
    }
    #resume:checked ~ .container .left .leftbottom ul li:nth-child(2) ion-icon{
        top: 10px;
        left: 5.5vw;
        font-size: 5vw;
    } 
    #works:checked ~ .container .left .leftbottom ul li:nth-child(3) ion-icon{
        top: 10px;
        left: 5.5vw;
        font-size: 5vw;
    } 
    #blog:checked ~ .container .left .leftbottom  ul li:nth-child(4) ion-icon{
        top: 10px;
        left: 5.5vw;
        font-size: 5vw;
    } 
    #contact:checked ~ .container .left .leftbottom ul li:nth-child(5) ion-icon{
        top: 10px;
        left: 5.5vw;
        font-size: 5vw;
    }

    /* CENTER DESIGNING */
    .container .center{
        order: 3;
        width: 100%;
        height: fit-content;
    }
    .container .center .top{
        width: 100%;
        height: 450px;
        background-position: center;
        background-size: 650px;
        overflow: hidden;
    }
    .container .center .top::after{
        position: relative;
        border-top: 90px solid transparent;
        border-left: 38vw solid var(--clr);
        border-right: 60vw solid var(--clr);
    }
    .container .center .bottom{
        width: 100%;
        height: 250px;
        margin: 0;

    }
    .container .center .bottom span{
        display: block;
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .container .right{
        order: 2;
        width: 100%;
        min-height: 600px;
        margin: 20px 0;
        border-radius: 15px;
   } 
   @media screen and (max-width:870px) {
        #about:checked ~ .container .left .leftbottom::after{
            left: 1vw;
        }
        #resume:checked ~ .container .left .leftbottom::after{
            left: calc(100% - 72vw);
        }
        #works:checked ~ .container .left .leftbottom::after{
            left: calc(100% - 54vw);
        }
        #blog:checked ~ .container .left .leftbottom::after{
            left: calc(100% - 36vw);
        }
        #contact:checked ~ .container .left .leftbottom::after{
            left: calc(100% - 17vw);
        }
        .container .left .leftbottom ul li ion-icon{
            left: 20px;
            top: 15px;
            font-size: 4vw;
        }
        .container .left .leftbottom ul li:hover ion-icon{
            top: 25px;
            left: 5.5vw;
            font-size: 6vw;
        }
            #about:checked ~ .container .left .leftbottom ul li:nth-child(1) ion-icon{
                top: 25px;
                left: 5.5vw;
                font-size: 6vw;
        }
        #resume:checked ~ .container .left .leftbottom ul li:nth-child(2) ion-icon{
            top: 25px;
            left: 5.5vw;
            font-size: 6vw;
        } 
        #works:checked ~ .container .left .leftbottom ul li:nth-child(3) ion-icon{
            top: 25px;
            left: 5.5vw;
            font-size: 6vw;
        } 
        #blog:checked ~ .container .left .leftbottom  ul li:nth-child(4) ion-icon{
            top: 25px;
            left: 5.5vw;
            font-size: 6vw;
        } 
        #contact:checked ~ .container .left .leftbottom ul li:nth-child(5) ion-icon{
            top: 25px;
            left: 5.5vw;
            font-size: 6vw;
        }
        
        .container .left .leftbottom ul li label{
            font-size: 27px;
            text-align: center;
            padding: 0 5vw;
        }
        .container .left .leftbottom ul li label span{
            transform: translateY(25px);
            font-size: 3vw;
            
        }
        .container .left .leftbottom ul li ion-icon{
            font-size: 5vw;
            left: 6vw;
            transform: translateY(-1.5vw);
        }
        .container .left .lefttop{
            display: none;
        }
   }
}


@media screen and (max-width:480px){
    body{
        max-width: 480px;
        height: 100vh;
        margin: 0;
        padding: 0;

    }
    .container{
        position: relative;
        top: 95%;
        flex-direction: column;
        max-width: 480px;
        min-width: 320px;
        height: 200%;
        margin: 0;
        padding: 40px 10px;
        overflow-x: hidden;
    }
    .container .left {
        width: 100%;
        height: 70px;
        flex-direction: column;
        margin: 0;
        padding: 0;
        border: 3px solid lemonchiffon;
        border-radius:15px;
        z-index: 1;
    }
    .container .left::before{
        display: block;
        position: relative;
        top: 0px;
        left: 0;
        height: 3px;
        width: 15px;
        background-color: red;
        border: none;
        z-index: 1;
    }
    .container .left .lefttop{
        display: block;
        width: 70px;
        margin: 0;
        height: 100%;
        box-shadow: none;
    }
    .container .left .lefttop:hover{
        box-shadow: none;
    }
    .container .left .lefttop .topcont{
        width: 100%;
        height: 100%;
        position: relative;
        padding: 2px;
    }
    .container .left .lefttop::after{
        content: '257lad';
        position: relative;
        top: -105%;
        left: calc(100vw - 410%);
        width: 250px;
        height: 65px;
        border-radius: 10px;
        padding: 5px 10px;
        color: rgb(255, 255, 255);
        font-size: 40px ;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        text-align: right;
        box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.422), inset  5px 5px 10px rgb(255, 255, 255) ;
    } 
    .container .left .lefttop .pop{
        position: absolute;
        top: 200px;
        left: calc(50% - 150px);
        width: 300px;
        height: 260px;
        z-index: 1000;
    }
    .container .left .lefttop .pop p{
        font-size: 18px;
    } 
    .container .left .lefttop .pop .close{
        top: 32.3%;
        height: 20px;
    }
    .container .left .lefttop .pop label .close::before{
        top: 28px;
    }

    .container .left .lefttop .pop label .close::after{
        left: 82px;
        top: -14px;
    }


    .container .left .leftbottom{
        position: absolute;
        top: 70px;
        max-width: 455px;
        height: 70px;
        margin:  10px auto;
        padding: 0;
        background-color:rgba(242, 232, 250, 0.976);
        border: none;
        transition: none;
    }
    .container .left .leftbottom::after{
        display: none;
    }
    .container .left .leftbottom ul{
        width: 100%;
        height: 90%;
        padding: 4px 2vw;
        gap: 5px;
    }
    
    .container .left .leftbottom ul li{
        display: grid;
        place-content: center;
        height: 55px;
        margin: 3px;
        padding: 0;
        text-align: center;
        color: black;
        overflow: visible;
        border: .01px  solid rgba(255, 255, 255, 0.485) ;
        box-shadow: -1px -1px 10px rgb(255, 255, 255), 1px 1px 7px rgba(0, 0, 0, 0.391);
        overflow: hidden;
        transition: .2s ease-in-out;
    }
    .container .left .leftbottom ul li::after{
        position: relative;
        top: 10px;
        left: calc( 12vw - 5%);
        content: '';
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: rgba(150, 46, 202, 0.357);
        transition: .2s ease-in-out;
    }

    #about:checked ~ .container .left .leftbottom ul li:nth-child(1)::after{
        background-color: rgb(14, 251, 14);
    }
    #resume:checked ~ .container .left .leftbottom ul li:nth-child(2)::after{
        background-color: rgb(14, 251, 14);
    }
    #works:checked ~ .container .left .leftbottom ul li:nth-child(3)::after{
        background-color: rgb(14, 251, 14);
    }
    #blog:checked ~ .container .left .leftbottom ul li:nth-child(4)::after{
        background-color: rgb(14, 251, 14);
    }
    #contact:checked ~ .container .left .leftbottom ul li:nth-child(5)::after{
        background-color: rgb(14, 251, 14);
    }


    .container .left .leftbottom ul li:hover{
        color: black;
        background-color: transparent;
        box-shadow: -1px -1px 10px rgb(255, 255, 255), 1px 1px 7px rgba(0, 0, 0, 0.391);

    }
    .container .left .leftbottom ul li ion-icon{
        visibility: visible;
        top: 15px;
        left: 4vw;
        font-size: 7vw;
        transform: translateY(0px);
        z-index: 10;
    }
    .container .left .leftbottom ul li label{
        display: inline-block;
        width: 15vw;
        height: 60px;
        font-size: 20px;
        color: black;
        text-align: center;
        padding: 0;
        opacity: 1;
    }
    .container .left .leftbottom ul li label span{
        opacity: 0;
        font-size: 10px;
        transform: translateY(-5px);
        transition: .2s ease-in-out;
        float: none;
    }
    .container .left .leftbottom ul li:hover label{
        display: inline-block;
        width: 15vw;
        height: 60px;
        font-size: 20px;
        color: black;
        text-align: center;
        /* padding: 0;*/
        opacity: 1;
    }
    .container .left .leftbottom ul li:hover ion-icon{
        top: 15px;
        left: 4vw;
        font-size: 7.5vw;
        color: black;
        z-index: 10;
    }

    #about:checked ~ .container .left .leftbottom ul li:nth-child(1) ion-icon{
        top: 5px;
        left: 4vw;
        font-size: 7vw;
        z-index: 10;
        color: black;
    }
    #resume:checked ~ .container .left .leftbottom ul li:nth-child(2) ion-icon{
        top: 5px;
        left: 4vw;
        font-size: 7vw;
        color: black;
        z-index: 10;
    }
    #works:checked ~ .container .left .leftbottom ul li:nth-child(3) ion-icon{
        top: 5px;
        left: 4vw;
        font-size: 7vw;
        color: black;
        z-index: 10;
    }
    #blog:checked ~ .container .left .leftbottom ul li:nth-child(4) ion-icon{
        top: 5px;
        left: 4vw;
        font-size: 7.5vw;
        color: black;
        z-index: 10;
    }
    #contact:checked ~ .container .left .leftbottom ul li:nth-child(5) ion-icon{
        top: 5px;
        left: 4vw;
        font-size: 7.5vw;
        color: black;
        z-index: 10;
    }


    #about:checked ~ .container .left .leftbottom ul li:nth-child(1) label{
        padding-top: 6.6vw;
        opacity: 1;
        font-size: 20px;
    }
    #resume:checked ~ .container .left .leftbottom ul li:nth-child(2) label{
        padding-top: 6.6vw;
        opacity: 1;
        font-size: 20px;
    }
    #works:checked ~ .container .left .leftbottom ul li:nth-child(3) label{
        padding-top: 6.6vw;
        opacity: 1;
        font-size: 20px;
    }
    #blog:checked ~ .container .left .leftbottom ul li:nth-child(4) label{
        padding-top: 6.6vw;
        opacity: 1;
        font-size: 20px;
    }
    #contact:checked ~ .container .left .leftbottom li:nth-child(5) label{
        padding-top: 6.6vw;
        opacity: 1;
        font-size: 20px;
    }
    


    #about:checked ~ .container .left .leftbottom ul li:nth-child(1) label span{
        opacity: 1;
        font-size: 4vw;
    }
    #resume:checked ~ .container .left .leftbottom ul li:nth-child(2) label span{
        opacity: 1;
        font-size: 4vw;
    }
    #works:checked ~ .container .left .leftbottom ul li:nth-child(3) label span{
        opacity: 1;
        font-size: 4vw;
    }
    #blog:checked ~ .container .left .leftbottom ul li:nth-child(4) label span{
        opacity: 1;
        font-size: 4vw;
        padding-top: 36px;
    }
    #contact:checked ~ .container .left .leftbottom ul li:nth-child(5) label span{
        opacity: 1;
        font-size: 4vw;
        padding-top: 36px;
    }
    

    #about:checked ~ .container .left .leftbottom ul li:nth-child(1){
        background-color: transparent ;
        box-shadow: -1px -1px 10px rgb(255, 255, 255), 1px 1px 7px rgba(0, 0, 0, 0.391);
    }
    #resume:checked ~ .container .left .leftbottom ul li:nth-child(2){
        box-shadow: -1px -1px 10px rgb(255, 255, 255), 1px 1px 7px rgba(0, 0, 0, 0.391);
        background-color: transparent ;
    }
    #works:checked ~ .container .left .leftbottom ul li:nth-child(3){
        box-shadow: -1px -1px 10px rgb(255, 255, 255), 1px 1px 7px rgba(0, 0, 0, 0.391);
        background-color: transparent ;
    }
    #blog:checked ~ .container .left .leftbottom ul li:nth-child(4){
        box-shadow: -1px -1px 10px rgb(255, 255, 255), 1px 1px 7px rgba(0, 0, 0, 0.391);
        background-color: transparent ;
    }
    #contact:checked ~ .container .left .leftbottom ul li:nth-child(5){
        box-shadow: -1px -1px 10px rgb(255, 255, 255), 1px 1px 7px rgba(0, 0, 0, 0.391);
        background-color: transparent ;
    }

    .container .right{
        position: relative;
        top: 70px;
        margin-right: 0;
        order: 2;
    }
    .container .center{
        position: relative;
        top: 70px;
        margin-bottom: 7vh;
        order: 3;
    }
    .container .center .bottom{
        height: fit-content;
        padding-bottom: 20px;
    }
    .container .center .bottom .socialcont .social a ion-icon{
        width: 100%;
    }
    .container .center .top::after{
        border-top: 60px solid transparent;
        border-left:40vw solid var(--clr);
        border-right: 60vw solid var(--clr) ;
    }

    @media screen and (max-width:410px) {
        body{
            min-width: 320px ;
        }
        .container .center .bottom .footer{
            flex-direction: column;
            align-items: center;
        }
        .container .center .bottom .footer .cont{
            margin: 5px 0;
        }
    }
    @media screen and (max-width:320px){
        .container .left .lefttop::after{
            left: 130px;
        }
        .container .left .leftbottom ul li label{
            font-size: 15px;
        }
        .container .left .leftbottom ul li label span{
            font-size: 15px;
        }
    }
}